* {
	color: white;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	color: black;
}

.main_header {
	text-align: center;
	font-size: 3rem;
}
.outer__parent {
	background: #00f;
	width: 30rem;
	height: 250vh;
	padding: 1rem;
	font-size: 1.5rem;
}

.parent {
	background: #f00;
	margin-top: 1rem;
	padding: 10px;
	height: 50rem;
}

.children {
	background: #0ff;
	height: 10vh;
	color: #000;
	margin-top: 1rem;
}

.relative {
	position: relative;
	top: -30px;
	left: 50%;
}

.absolute {
	position: absolute;
	top: 50px;
	z-index: -1;
}

.fixed {
	position: fixed;
	left: 20%;
	top: 80%;
}

.sticky {
	position: sticky;
	top: 20px;
}
